body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F7F7;
}

h1,
h2{
  color: #5C8D89;
}

p{color: #5C8D89;}

h3,
h4,
h5,
{ font-family: 'Roboto', sans-serif;
  color: #5C8D89; }

.list-inline{
    padding-left: 0;
}

.list-inline li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
  margin: 0 auto;
  width: 500px;
}

.about {
  text-align: center;
  background-color: #79A8A9;
  padding: 20px;
}

.difficulty h4{
  color: white;
}

.table1{
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  height: 600px;
  text-align: center;
  border-radius: 15px;
}

.table1 td{
  text-align: center;
}

#anything{
  text-align: center;
}

a:hover {
  color: white;
}

a{
  font-size: 17px;
  color: grey;
}

.img-circle {
  border-radius: 50%
}
